// Variables!

$pink: #f73b73;
$green: #8cc63e;
$pink-light: lighten( $pink, 38% );
$green-light: #f1fff4;
$red: red;

$page-width: 44rem;

$animation-time: 0.2s;
$animation: all ease-in-out $animation-time;
$box-shadow: 0 1px 3px rgba(0,0,0,0.4);
$box-shadow-inset: inset 0 1px 3px rgba(0,0,0,0.4);
$border-radius: 2px;

$black: #000;
$grey: #CCC;
$grey-light: #F6F6F6;
$grey-very-light: #FCFCFC;
$grey-dark: #888;
$white: #FFF;

$success-green: #2f8f2f;
$error-red: #dc241f;
$warning-yellow: #EB3;

$font-family: 'Open Sans', 'Open Sans Fallback', sans;
$heading-font-family: $font-family;
$font-size: 20px;
$line-height: 1.5em;

$thick-border: 5px solid $black;
$thin-border: 1px solid $grey;

$tiny-breakpoint:  600px  !default;
$small-breakpoint:  1000px  !default;
$medium-breakpoint: 1200px !default;
$large-breakpoint:  1400px !default;
$xlarge-breakpoint: 1800px !default;