@mixin iconButton {
  text-decoration: none;
  background: $grey-light;
  border-radius: 50%;
  box-shadow: $box-shadow;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  margin: .5rem;
  padding: 0.5rem;
  display: inline-block;
}

#aside-buttons,
.aside-close {
  display: none;
}
aside {
  label,
  input {
    width: 100%;
  }
  margin-bottom: 3rem;
}
@media screen and (max-width: $medium-breakpoint) {
  aside {
    display: none;
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0 1rem 1rem;
    z-index: 999;
    box-shadow: $box-shadow;
    overflow-x: auto;
    max-height: calc(100vh - 3.25rem);
    width: 100% !important;
    background: $white;
    form:last-of-type  input.full:last-of-type  {
      width: calc(100% - 4rem) !important;
    }
  }
  #aside-buttons {
    display: block;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0.25rem 0.25rem 1.25rem 0.25rem;
    z-index: 9;
    text-align: right;
    a {
      @include iconButton;
    }
  }
  .aside-close {
    @include iconButton;
    position: fixed;
    bottom: 1.25rem;
    right: 0.25rem;
  }
}
@media #{$large-up} {
  aside {
    display: block !important;
  }
}