.page {
//  min-height: 96vh;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
}
.mini_block {
  .section_image {
    height: 100%;
    position:relative;
    background:no-repeat top center;
    background-size: cover;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  &.block_link {
    text-align: left;
    //transition-duration: 0.5s;
  }
}
.block-inner {
  //max-width: #{ $page-width / 2 };
  margin: auto;
  padding: 1rem;
}