#portfolio {
  width: 100%;
  padding: 1rem 1rem;
  margin: 3rem 0;
  @media #{$large-up} {
    .portfolio-tall {
      grid-row: span 2;
      height: calc(100vh - 2rem);
      max-height: calc(1000px - 1rem);
      min-height: 31rem;
    }
    .portfolio-wide {
      grid-column: span 2;
    }
  }
}
.portfolio-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  @media #{$small-up} {
    grid-template-columns: calc(50% - 0.5rem) calc(50% - .5rem);
  }

  @media #{$large-up} {
    grid-template-columns: calc(25% - 0.75rem) calc(25% - .75rem) calc(25% - 0.75rem) calc(25% - .75rem);
  }
  .block {
    height: calc(50vh - 1.5rem);
    max-height: 500px;
    grid-row: span 1;
    grid-column: span 1;
    cursor: pointer;
    padding: 0;
    min-height: 15rem;
    box-shadow: 0 0 1px 0 $black;
    h2 {
      color: $pink;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 1em;
      padding: 1rem;
      margin: 0;
      transition: all ease-in-out 0.5s;
      z-index: 1;
      text-shadow: 1px 1px 3px $white;
    }
    &:hover {
      z-index: 9;
      h2 {
        color: $green;
        text-shadow: 1px 1px 3px $black;
      }
      .intro {
        max-height: 100% !important;
      }
      .section_image:after {
        top: -200%;
        height: 500%;
      }
    }
  }

  .block .intro {
    z-index: 2;
    max-height: 0;
    transition: max-height ease-in-out 0.5s;
    p {
      bottom: 0;
      padding: 0 1rem 1rem;
      margin: 0;
    }
  }
}
// Same as @media (hover: none)
body.noscript {
  .portfolio-grid {
    z-index: 9;
    .section_image:after {
      top: -10%;
      height: 150%;
    }
    .intro {
      max-height: 100% !important;
    }
  }
}
@media (hover: none) {
  .portfolio-grid {
    z-index: 9;
    .section_image:after {
      top: -10%;
      height: 150%;
    }
    .intro {
      max-height: 100% !important;
    }
  }
}

.portfolio-bottom {
  margin-top: 3rem;
  @media #{$medium-up} {
    .portfolio-grid {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

.section_image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(185deg,rgba(255,255,255,0) 35%,rgba(255,255,255,1) 55%);
    top:0;
    height: 200%;
    left: 0;
    right: 0;
    transition: all ease-in-out 0.5s;
  }
}

.portfolio-page {
  .section_image {
    border-radius: $border-radius;
    overflow: hidden;
    min-height: 17rem;
    background-size: cover;
    box-shadow: 0 0 1px 0 $black;
    &:after {
      top: 0;
      height: 150%;
      @media #{$medium-up} {
        top: 0;
        height: 200%;
      }
    }
    @media #{$small-only} {
      min-height: 20rem;
    }
    @media #{$medium-up} {
      min-height: 24rem;
    }
    video {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h1 {
      z-index: 1;
      position: absolute;
      line-height: 1em;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 1rem;
      transition: all ease-in-out 0.5s;
      text-shadow: 1px 1px 3px $white;
    }
  }
}
.back-to-portfolio-link {
  float: right;
  margin-top: .5rem;
  text-decoration: none;
}

.scroll-image {
  animation: 20s ease-in-out scrollImage infinite;
  animation-direction: alternate;
}
@keyframes scrollImage {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 100%;
  }

}

.min-section-heading {
  font-size: 2rem;
  margin-top: -3.5rem;
  padding-left: 1rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10rem;
    bottom: -1.6rem;
    left: 0;
    background: linear-gradient(185deg,
            rgba(255,255,255,0) 35%,
            rgba(255,255,255,.9) 65%);
    z-index: -1;
  }
}
.min-section-image {
  display: block;
  z-index: -3;
  position: relative;
  margin-top: 2rem;
}

.section_image_link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
