.wrapper > .edit-link {
  text-decoration: none;
  z-index: 5;
  position: absolute;
  top: 0;
  left: -5rem;
  padding: .5rem;
  font-size: 2rem;
  min-width: 2rem;
  height: 2rem;
}

body.admin-login #main-container {
  margin: auto;
  width: #{$page-width / 1.9};
  max-width: calc(100% - 2rem);
  .message {
    margin-left: 0;
    margin-right: 0;
  }
  input {
    margin: 1rem 0;
  }
}
.password-reset {
  display: none;
}