.card-grid {
  display: flex;
  flex-wrap: wrap;
  .card {
    vertical-align: top;
    position: relative;
    border-radius: 2px;
    padding: 0 1rem .5rem;
    background: #FFF;
    border: 1px solid #CCC;
    overflow: hidden;
    h3 {
      margin: 0 0 1rem;
    }
    width: 100%;
    margin: 0 0 2rem;
    @media #{$medium-up} {
      width: calc(33% - 2rem);
      margin: 0 1rem 2rem 1rem;
    }
  }
}