
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; margin-left: -7px; padding: 0; }

label {
  cursor: pointer;
  display: block;
  margin: 0.5em 0;
  padding: 0;
  position: relative;
  width: auto;
  color: $grey-dark;
  box-sizing: border-box;
}
label.full {
  width:100%;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  & > input:last-of-type {
    margin-left: 0;
  }
  & > input:first-of-type {
    margin-right: 0;
  }
}
.trumbowyg-button-pane {
  position: sticky !important;
  top: calc(2.5rem + 1px);
}
.trumbowyg-box {
  margin: 0.5em auto !important;
  &.trumbowyg-box-fixed-buttons {
    .trumbowyg-dropdown {
      position: fixed !important;
      top: 85px !important;
      margin-left: 5vw !important; // ToDo: hacky! FIX with proper JS!
    }
  }
}
input.full {
  width: 100% !important;
}
.monkey {
  pointer-events:none;
  position: absolute;
  right: 0.5em;
  color: $grey-dark;
  bottom: 0.5em;
  margin: 0;
  cursor: text;
  height: 1.5em;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; vertical-align: middle; max-width: 100%;}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; width:100%;}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: $white; }

input, textarea, select {
  margin:  auto;
  display: block;
  padding: 0.5em 0.6em;
  border-radius: 2px;
  border: 1px solid $grey;
  background: $white;
  width: 100%;
  font-family: $font-family;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea
{
  transition: background 0.2s ease-out;
}
select {
  background: $white;
  display:inline-block;
  margin: 0;
  width:auto;
}
option {
  background: $white;
  padding:0 5px 0 5px;
}
label {
  max-width: 100%;
}
input[type="checkbox"] {
  width: auto;
}
input[type="radio"] {
  float: left;
  width: auto;
  margin: 0.4em;
}
.text-loader-container {
  position: absolute;
  width:100%;
  padding: 180px 0;
}
.cke_chrome {
  border-radius: 2px !important;
  box-shadow: none !important;
  border: 1px solid $grey-dark !important;
}
.cke_top {
  border-radius: 2px 2px 0 0;
}

.button,
input[type="button"],
input[type="submit"] {
  width: auto;
  box-shadow: none;
  margin: 1em auto;
  background: $white;
  border: 1px solid $pink;
  border-radius: $border-radius;
  color: $pink;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  transition: all ease-in-out $animation-time;
  &:hover {
    border-color: $green;
    box-shadow:0 1px 3px #aaa;
    color: $green;
  }
  &:active {
    transform: scale(0.97) translateY(3px);
  }
}

textarea {
  margin: 0;
  width: 100%;
}
input:not([type="submit"]):not([type="checkbox"]):focus, select:focus, option:hover, textarea:focus {
  background: $pink-light;
}
.nicEdit-selectTxt, .nicEdit-selectTxt {
  line-height: 16px;
}

input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  text-align: center;
  border-radius: 3px;
  border: 1px solid $grey;
  transition: $animation-time ease all;
}
input[type=checkbox]:hover {
  border-color: $grey-dark;
  background: $pink-light;
}
input[type=checkbox]:after {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  top: -0.75rem;
  left: .075rem;
  color: #333;
  display: block;
  position: relative;
  transform: rotate(45deg) scale(1);
  opacity: 0;
  content: "+";
  transition: $animation-time ease all;
}
input[type=checkbox]:checked:after {
  opacity: 1;
  transform: rotate(45deg) scale(1.3);
}

.label-media {
  width: 100%;
}
.media {
  display: flex;
  width: 100%;
  .media-browser {
    padding: 0.25rem .5rem 0;
    margin: 0;
    i {
      font-size: 2rem;
      vertical-align: middle;
    }
    &+input {
      border-left: none;
      border-radius: 0 $border-radius $border-radius 0;
      max-width: calc(100% - 50px);
      flex: 1;
    }
  }
}
.form-prev-image {
  max-height: 200px;
}