.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
  flex-direction: column;
  @media #{$small-up} {
    flex-direction: row;
  }
  a {
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 0 1px 0 $black;
    border-radius: $border-radius;
    border: 1px solid transparent;
    transition: $animation;
    &:hover {
      border: 1px solid $green;
    }
    img {
      max-height: 15rem;
      display: block;
    }
  }
}
