.admin-gallery, .gallery-nolink {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .img-title {
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.6);
    padding: 4px;

  }
  .img-title div {
    word-wrap: break-word;
    bottom:10px;
    left:10px;
    right:10px;
    line-height: 1.3em;
    color: #000;
    font-size: 12px;
  }
  a:hover .img-title { display:block }
}
.admin-gallery a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  line-height: 0;
  border: 2px solid $pink;
  margin: 0.5rem;
  border-radius: $border-radius;
  overflow: hidden;
  background: $grey;
  transition: 0.2s ease all;
  max-width: 180px;
  &:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
    border-color: $green;
    transform: scale(1.1);
    z-index: 2;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
  a {
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 0 1px 0 $black;
    border-radius: $border-radius;
    border: 1px solid transparent;
    transition: $animation;
    &:hover {
      border: 1px solid $green;
    }
    img {
      max-height: 15rem;
      display: block;
    }
  }
}