figure {
  margin: 2rem 0 3rem;
  text-align: center;
  img {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    display: block;
    font-size: 0.9em;
    margin: 0.5rem 0 0;
  }
}