.message {
  border: 0.2rem;
  padding: 1rem !important;
  box-shadow: $box-shadow;
  margin: 1rem 0;

  cursor: pointer;
  border:none;

  background-color: lighten($success-green, 60%);
  border-top: 1px solid $success-green;

  animation-name: messageFade;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 5s;

  display: flex;
  align-items: center;

  &:before {
    font-family: 'themify';
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2rem;
    width: 2rem;
    text-align: center;

    content: "\e64c";
    background: $success-green;
    padding: 1rem;
    margin: -1rem 1rem -1rem -1rem;
    color: $white;
    align-self: normal;
  }
}

@keyframes messageFade {
  0% {
    background-color: lighten($success-green, 50%);
  }
  100% {
    background-color: lighten($success-green, 60%);
  }
}
.message.error {
  animation-name: errorFade;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 6s;
  border-top: 2px solid $error-red;

  background-color: lighten($error-red, 40%);
  color: $black;
  &:before {
    content: "\e646";
    background: $error-red;
    }
}
@keyframes errorFade {
  0% {
    background-color: lighten($error-red, 30%);
  }
  100% {
    background-color: lighten($error-red, 40%);
  }
}
.message.warning {
  animation-name: warningFade;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 6s;
  border-color: $warning-yellow;
  background-color: lighten($warning-yellow, 60%);
  &:before {
    content: "!";
    font-family: $font-family;
    background: $warning-yellow;
  }
}
@keyframes warningFade {
  0% {
    background-color: lighten($warning-yellow, 50%);
  }
  100% {
    background-color: lighten($warning-yellow, 60%);
  }
}

#main-container > .message {
  margin-left: 2rem;
  margin-right: 2rem;
}

.highlightMessage {
  background: rgba(0,50,0,0.05);
  padding: 1rem 1.5rem;
  box-shadow: $box-shadow;
  border-radius: 3px;
}